{ns hl7-fhir-us-davinci-hrex,
 import #{zen.fhir hl7-fhir-us-core hl7-fhir-r4-core},
 extensions {:zen/tags #{zen.fhir/extensions},
             :schemas {"http://hl7.org/fhir/us/davinci-hrex/StructureDefinition/extension-itemAuthorizedProvider" #zen/quote hl7-fhir-us-davinci-hrex.extension-itemAuthorizedProvider/schema,
                       "http://hl7.org/fhir/us/davinci-hrex/StructureDefinition/extension-itemTraceNumber" #zen/quote hl7-fhir-us-davinci-hrex.extension-itemTraceNumber/schema,
                       "http://hl7.org/fhir/us/davinci-hrex/StructureDefinition/extension-itemAuthorizedDate" #zen/quote hl7-fhir-us-davinci-hrex.extension-itemAuthorizedDate/schema,
                       "http://hl7.org/fhir/us/davinci-hrex/StructureDefinition/extension-itemPreAuthIssueDate" #zen/quote hl7-fhir-us-davinci-hrex.extension-itemPreAuthIssueDate/schema}},
 ig {:zen/tags #{zen.fhir/ig},
     :profiles profiles,
     :extensions extensions,
     :value-sets value-sets,
     :searches searches},
 profiles {:zen/tags #{zen.fhir/profiles},
           :schemas {"Coverage" {"http://hl7.org/fhir/us/davinci-hrex/StructureDefinition/hrex-coverage" #zen/quote hl7-fhir-us-davinci-hrex.hrex-coverage/schema},
                     "Organization" {"http://hl7.org/fhir/us/davinci-hrex/StructureDefinition/hrex-organization" #zen/quote hl7-fhir-us-davinci-hrex.hrex-organization/schema},
                     "Parameters" {"http://hl7.org/fhir/us/davinci-hrex/StructureDefinition/hrex-parameters-member-match-out" #zen/quote hl7-fhir-us-davinci-hrex.hrex-parameters-member-match-out/schema,
                                   "http://hl7.org/fhir/us/davinci-hrex/StructureDefinition/hrex-parameters-member-match-in" #zen/quote hl7-fhir-us-davinci-hrex.hrex-parameters-member-match-in/schema},
                     "Patient" {"http://hl7.org/fhir/us/davinci-hrex/StructureDefinition/hrex-patient-demographics" #zen/quote hl7-fhir-us-davinci-hrex.hrex-patient-demographics/schema},
                     "PractitionerRole" {"http://hl7.org/fhir/us/davinci-hrex/StructureDefinition/hrex-practitionerrole" #zen/quote hl7-fhir-us-davinci-hrex.hrex-practitionerrole/schema},
                     "Practitioner" {"http://hl7.org/fhir/us/davinci-hrex/StructureDefinition/hrex-practitioner" #zen/quote hl7-fhir-us-davinci-hrex.hrex-practitioner/schema},
                     "ClaimResponse" {"http://hl7.org/fhir/us/davinci-hrex/StructureDefinition/hrex-claimresponse" #zen/quote hl7-fhir-us-davinci-hrex.hrex-claimresponse/schema},
                     "Task" {"http://hl7.org/fhir/us/davinci-hrex/StructureDefinition/hrex-task-data-request" #zen/quote hl7-fhir-us-davinci-hrex.hrex-task-data-request/schema},
                     "Provenance" {"http://hl7.org/fhir/us/davinci-hrex/StructureDefinition/hrex-provenance" #zen/quote hl7-fhir-us-davinci-hrex.hrex-provenance/schema},
                     "Consent" {"http://hl7.org/fhir/us/davinci-hrex/StructureDefinition/hrex-consent" #zen/quote hl7-fhir-us-davinci-hrex.hrex-consent/schema}}},
 searches {:zen/tags #{zen.fhir/searches},
           :searches {"HRexCoverageIdentifier" {"http://hl7.org/fhir/us/davinci-hrex/SearchParameter/hrex-coverage-identifier" #zen/quote hl7-fhir-us-davinci-hrex.search.hrex-coverage-identifier/search},
                      "HRexCoveragePatient" {"http://hl7.org/fhir/us/davinci-hrex/SearchParameter/hrex-coverage-patient" #zen/quote hl7-fhir-us-davinci-hrex.search.hrex-coverage-patient/search},
                      "HRexProvenanceTarget" {"http://hl7.org/fhir/us/davinci-hrex/SearchParameter/hrex-provenance-target" #zen/quote hl7-fhir-us-davinci-hrex.search.hrex-provenance-target/search},
                      "HRexCoverageSubscriberId" {"http://hl7.org/fhir/us/davinci-hrex/SearchParameter/hrex-coverage-subscriberId" #zen/quote hl7-fhir-us-davinci-hrex.search.hrex-coverage-subscriberId/search},
                      "HRexCoveragePayor" {"http://hl7.org/fhir/us/davinci-hrex/SearchParameter/hrex-coverage-payor" #zen/quote hl7-fhir-us-davinci-hrex.search.hrex-coverage-payor/search},
                      "HRexCoverageSubscriber" {"http://hl7.org/fhir/us/davinci-hrex/SearchParameter/hrex-coverage-subscriber" #zen/quote hl7-fhir-us-davinci-hrex.search.hrex-coverage-subscriber/search}}},
 value-sets {:zen/tags #{zen.fhir/value-sets},
             :value-sets {"http://hl7.org/fhir/us/davinci-hrex/ValueSet/hrex-consent-policy" #zen/quote hl7-fhir-us-davinci-hrex.value-set.hrex-consent-policy/value-set,
                          "http://hl7.org/fhir/us/davinci-hrex/ValueSet/hrex-task-status" #zen/quote hl7-fhir-us-davinci-hrex.value-set.hrex-task-status/value-set}}}
