{ns hl7-fhir-us-davinci-hrex,
 import
 #{hl7-fhir-us-davinci-hrex.hrex-practitionerrole
   hl7-fhir-us-davinci-hrex.hrex-parameters-member-match-in
   hl7-fhir-us-davinci-hrex.hrex-practitioner
   hl7-fhir-us-davinci-hrex.search.hrex-coverage-subscriberId
   hl7-fhir-us-davinci-hrex.hrex-parameters-member-match-out
   hl7-fhir-us-core
   hl7-fhir-r4-core
   hl7-fhir-us-davinci-hrex.hrex-provenance
   hl7-fhir-us-davinci-hrex.search.hrex-coverage-payor
   hl7-fhir-us-davinci-hrex.hrex-task-data-request
   hl7-fhir-us-davinci-hrex.hrex-coverage
   hl7-fhir-us-davinci-hrex.search.hrex-provenance-target
   hl7-fhir-us-davinci-hrex.search.hrex-coverage-subscriber
   hl7-fhir-us-davinci-hrex.value-set.hrex-task-status
   hl7-fhir-us-davinci-hrex.hrex-organization
   hl7-fhir-us-davinci-hrex.search.hrex-coverage-patient
   hl7-fhir-us-davinci-hrex.search.hrex-coverage-identifier}}