{ns hl7-fhir-us-davinci-hrex.value-set.hrex-task-status,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "The set of task codes allowed for use in HRex data request tasks",
            :zen.fhir/version "0.6.32",
            :fhir/code-systems #{{:fhir/url "http://hl7.org/fhir/task-status",
                                  :zen.fhir/content :bundled}},
            :uri "http://hl7.org/fhir/us/davinci-hrex/ValueSet/hrex-task-status",
            :version "1.0.0",
            :ftr {:module "hl7-fhir-us-davinci-hrex",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
