{ns hl7-fhir-us-davinci-hrex.extension-itemTraceNumber,
 import #{zen.fhir hl7-fhir-r4-core.Identifier},
 schema
 {:zen/tags #{zen/schema zen.fhir/structure-schema},
  :zen/desc "Uniquely identifies this claim item. (2000F-TRN)",
  :zen.fhir/type "Identifier",
  :zen.fhir/profileUri
  "http://hl7.org/fhir/us/davinci-hrex/StructureDefinition/extension-itemTraceNumber",
  :zen.fhir/version "0.6.6-7",
  :confirms #{hl7-fhir-r4-core.Identifier/schema}}}