{ns hl7-fhir-us-davinci-hrex.extension-itemAuthorizedProvider,
 import
 #{zen.fhir
   hl7-fhir-us-core.us-core-practitioner
   hl7-fhir-us-core.us-core-organization
   hl7-fhir-r4-core.Reference},
 schema
 {:zen/tags #{zen/schema zen.fhir/structure-schema},
  :zen/desc
  "The specific provider who has been authorized to provide this item.",
  :zen.fhir/type "Reference",
  :zen.fhir/profileUri
  "http://hl7.org/fhir/us/davinci-hrex/StructureDefinition/extension-itemAuthorizedProvider",
  :zen.fhir/version "0.5.25-1",
  :confirms #{hl7-fhir-r4-core.Reference/schema zen.fhir/Reference},
  :zen.fhir/reference
  {:refers
   #{hl7-fhir-us-core.us-core-organization/schema
     hl7-fhir-us-core.us-core-practitioner/schema}}}}