{ns hl7-fhir-us-davinci-hrex.hrex-consent,
 import #{zen.fhir
          hl7-fhir-us-core.us-core-practitioner
          hl7-fhir-r4-core.RelatedPerson
          hl7-fhir-us-core.us-core-organization
          hl7-fhir-us-core.us-core-patient
          hl7-fhir-r4-core.Consent
          hl7-fhir-r4-core.DocumentReference
          hl7-fhir-us-davinci-hrex.hrex-consent
          hl7-fhir-us-davinci-hrex.hrex-organization
          hl7-fhir-us-core.us-core-practitionerrole},
 provision-schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
                   :zen.fhir/version "0.6.30-11",
                   :type zen/map,
                   :keys {:provision {:type zen/vector,
                                      :every {:confirms #{hl7-fhir-us-davinci-hrex.hrex-consent/provision-schema}},
                                      :maxItems 0},
                          :purpose {:type zen/vector, :maxItems 0},
                          :type {:const {:value "permit"},
                                 :fhir/flags #{:MS}},
                          :class {:type zen/vector, :maxItems 0},
                          :code {:type zen/vector, :maxItems 0},
                          :action {:type zen/vector,
                                   :every {:match {:coding #{{:system "http://terminology.hl7.org/CodeSystem/consentaction",
                                                              :code "disclose"}}}},
                                   :minItems 1,
                                   :maxItems 1},
                          :period {:type zen/map,
                                   :keys {:start {:fhir/flags #{:MS}},
                                          :end {:fhir/flags #{:MS}}},
                                   :require #{:start :end},
                                   :fhir/flags #{:MS}},
                          :securityLabel {:type zen/vector,
                                          :maxItems 0},
                          :actor {:type zen/vector,
                                  :slicing {:slices {"source" {:schema {:type zen/vector,
                                                                        :minItems 1,
                                                                        :every {:type zen/map,
                                                                                :keys {:role {:match {:coding #{{:system "http://terminology.hl7.org/CodeSystem/provenance-participant-type",
                                                                                                                 :code "performer"}}},
                                                                                              :fhir/flags #{:MS}},
                                                                                       :reference {:fhir/flags #{:MS},
                                                                                                   :confirms #{zen.fhir/Reference},
                                                                                                   :zen.fhir/reference {:refers #{hl7-fhir-us-davinci-hrex.hrex-organization/schema}}}}}},
                                                               :filter {:engine :match,
                                                                        :match {:role {:coding #{{:system "http://terminology.hl7.org/CodeSystem/provenance-participant-type",
                                                                                                  :code "performer"}}}}}},
                                                     "recipient" {:schema {:type zen/vector,
                                                                           :minItems 1,
                                                                           :every {:type zen/map,
                                                                                   :keys {:role {:match {:coding #{{:system "http://terminology.hl7.org/CodeSystem/v3-ParticipationType",
                                                                                                                    :code "IRCP"}}},
                                                                                                 :fhir/flags #{:MS}},
                                                                                          :reference {:fhir/flags #{:MS},
                                                                                                      :confirms #{zen.fhir/Reference},
                                                                                                      :zen.fhir/reference {:refers #{hl7-fhir-us-davinci-hrex.hrex-organization/schema}}}}}},
                                                                  :filter {:engine :match,
                                                                           :match {:role {:coding #{{:system "http://terminology.hl7.org/CodeSystem/v3-ParticipationType",
                                                                                                     :code "IRCP"}}}}}}}}},
                          :data {:type zen/vector, :maxItems 0}},
                   :require #{:type :action :period},
                   :fhir/flags #{:MS}},
 schema {:zen.fhir/version "0.6.30-11",
         :confirms #{zen.fhir/Resource
                     hl7-fhir-r4-core.Consent/schema},
         :zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen.fhir/profileUri "http://hl7.org/fhir/us/davinci-hrex/StructureDefinition/hrex-consent",
         :require #{:patient :provision :source :performer},
         :type zen/map,
         :zen/desc "The HRex Consent Profile defines the constraints for representing a member's to the sharing of their healthcare information to other organizations.",
         :keys {:patient {:fhir/flags #{:MS},
                          :confirms #{zen.fhir/Reference},
                          :zen.fhir/reference {:refers #{hl7-fhir-us-core.us-core-patient/schema}}},
                :category {:type zen/vector,
                           :slicing {:slices {"disclosure" {:schema {:type zen/vector},
                                                            :filter {:engine :match,
                                                                     :match {:coding #{{:system "http://terminology.hl7.org/CodeSystem/v3-ActCode",
                                                                                        :code "IDSCL"}}}}}}}},
                :provision {:confirms #{hl7-fhir-us-davinci-hrex.hrex-consent/provision-schema}},
                :source {:fhir/polymorphic true,
                         :type zen/map,
                         :keys {:Reference {:confirms #{zen.fhir/Reference},
                                            :zen.fhir/reference {:refers #{hl7-fhir-r4-core.DocumentReference/schema}}}},
                         :fhir/flags #{:MS}},
                :scope {:match {:coding #{{:system "http://terminology.hl7.org/CodeSystem/consentscope",
                                           :code "patient-privacy"}}},
                        :fhir/flags #{:MS}},
                :policy {:type zen/vector, :slicing {:slices {}}},
                :status {:const {:value "active"}, :fhir/flags #{:MS}},
                :performer {:type zen/vector,
                            :every {:fhir/flags #{:MS},
                                    :confirms #{zen.fhir/Reference},
                                    :zen.fhir/reference {:refers #{hl7-fhir-us-core.us-core-practitionerrole/schema
                                                                   hl7-fhir-us-core.us-core-organization/schema
                                                                   hl7-fhir-us-core.us-core-patient/schema
                                                                   hl7-fhir-us-core.us-core-practitioner/schema
                                                                   hl7-fhir-r4-core.RelatedPerson/schema}}},
                            :minItems 1,
                            :maxItems 1}},
         :zen.fhir/type "Consent"}}
