{ns hl7-fhir-us-davinci-hrex.hrex-practitionerrole,
 import
 #{hl7-fhir-us-davinci-hrex.hrex-practitioner
   zen.fhir
   hl7-fhir-r4-core.Reference
   hl7-fhir-us-davinci-hrex.hrex-organization
   hl7-fhir-us-core.us-core-practitionerrole},
 schema
 {:zen/tags #{zen.fhir/profile-schema zen/schema},
  :zen/desc
  "Constraints on the US Core PractitionerRole requiring the use of Da Vinci Organization and Practitioner",
  :zen.fhir/type "PractitionerRole",
  :zen.fhir/profileUri
  "http://hl7.org/fhir/us/davinci-hrex/StructureDefinition/hrex-practitionerrole",
  :zen.fhir/version "0.5.21-11",
  :confirms
  #{hl7-fhir-us-core.us-core-practitionerrole/schema
    zen.fhir/Resource},
  :type zen/map,
  :keys
  {:practitioner
   {:confirms #{hl7-fhir-r4-core.Reference/schema zen.fhir/Reference},
    :zen.fhir/reference
    {:refers #{hl7-fhir-us-davinci-hrex.hrex-practitioner/schema}}},
   :organization
   {:confirms #{hl7-fhir-r4-core.Reference/schema zen.fhir/Reference},
    :zen.fhir/reference
    {:refers #{hl7-fhir-us-davinci-hrex.hrex-organization/schema}}}}}}