{ns hl7-fhir-us-davinci-hrex.hrex-provenance,
 import #{zen.fhir hl7-fhir-us-core.us-core-provenance},
 schema {:zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen/desc "Additional constraints on US Core Provenance to ensure it meets payer needs, including indicating when the event occurred and retaining signatures if present",
         :zen.fhir/type "Provenance",
         :zen.fhir/profileUri "http://hl7.org/fhir/us/davinci-hrex/StructureDefinition/hrex-provenance",
         :zen.fhir/version "0.6.27",
         :confirms #{hl7-fhir-us-core.us-core-provenance/schema
                     zen.fhir/Resource},
         :type zen/map,
         :keys {:target {:type zen/vector,
                         :every {:type zen/map,
                                 :keys {:reference {:fhir/flags #{:MS}},
                                        :_reference {:type zen/map,
                                                     :keys {:value {:fhir/flags #{:MS}}},
                                                     :require #{:value}}},
                                 :require #{:reference},
                                 :confirms #{zen.fhir/Reference},
                                 :zen.fhir/reference {:refers #{}}}},
                :occurred {:fhir/polymorphic true,
                           :type zen/map,
                           :fhir/flags #{:MS}},
                :signature {:type zen/vector,
                            :every {:fhir/flags #{:MS}}}}}}
