{ns hl7-fhir-us-davinci-hrex.hrex-parameters-member-match-out,
 import
 #{hl7-fhir-r4-core.BackboneElement
   zen.fhir
   hl7-fhir-us-davinci-hrex.hrex-coverage
   hl7-fhir-r4-core.string
   hl7-fhir-us-core.us-core-patient
   hl7-fhir-r4-core.Element
   hl7-fhir-r4-core.Parameters
   hl7-fhir-r4-core.Resource},
 schema
 {:zen.fhir/version "0.5.21-8",
  :confirms #{zen.fhir/Resource hl7-fhir-r4-core.Parameters/schema},
  :zen/tags #{zen.fhir/profile-schema zen/schema},
  :zen.fhir/profileUri
  "http://hl7.org/fhir/us/davinci-hrex/StructureDefinition/hrex-parameters-member-match-out",
  :require #{:parameter},
  :type zen/map,
  :zen/desc
  "The Parameters profile for Da Vinci Find Member using Patient and Coverage Resources Response.  The old health plan **SHALL** return the following data if records for member are found: \n * The unique member identifier added to the Patient.identifier in the Patient resource submitted by the new health plan. \n  * The new health plan coverage resource. \n \n (Only one Patient and one Coverage record are to be returned.)",
  :keys
  {:parameter
   {:slicing
    {:slices
     {"memberPatient"
      {:schema
       {:type zen/vector,
        :minItems 1,
        :maxItems 1,
        :every
        {:type zen/map,
         :keys
         {:name
          {:const {:value "MemberPatient"},
           :confirms #{hl7-fhir-r4-core.string/schema},
           :fhir/flags #{:MS}},
          :_name {:confirms #{hl7-fhir-r4-core.Element/schema}},
          :resource
          {:confirms
           #{hl7-fhir-r4-core.Resource/schema
             hl7-fhir-us-core.us-core-patient/schema},
           :fhir/flags #{:MS},
           :zen.fhir/nested {}}},
         :require #{:resource}}},
       :filter {:engine :match, :match {:name "MemberPatient"}}},
      "newCoverage"
      {:schema
       {:type zen/vector,
        :minItems 1,
        :maxItems 1,
        :every
        {:type zen/map,
         :keys
         {:name
          {:const {:value "NewCoverage"},
           :confirms #{hl7-fhir-r4-core.string/schema},
           :fhir/flags #{:MS}},
          :_name {:confirms #{hl7-fhir-r4-core.Element/schema}},
          :resource
          {:confirms
           #{hl7-fhir-us-davinci-hrex.hrex-coverage/schema
             hl7-fhir-r4-core.Resource/schema},
           :fhir/flags #{:MS},
           :zen.fhir/nested {}}},
         :require #{:resource}}},
       :filter {:engine :match, :match {:name "NewCoverage"}}}}},
    :type zen/vector,
    :every
    {:confirms #{hl7-fhir-r4-core.BackboneElement/schema},
     :fhir/flags #{:MS}},
    :minItems 2,
    :maxItems 2}},
  :zen.fhir/type "Parameters"}}