{ns hl7-fhir-us-davinci-hrex.search.hrex-coverage-identifier,
 import #{zen.fhir},
 search
 {:zen/tags #{zen.fhir/search},
  :fhir/id "hrex-coverage-identifier",
  :fhir/url
  "http://hl7.org/fhir/us/davinci-hrex/SearchParameter/hrex-coverage-identifier",
  :fhir/type "token",
  :name "identifier",
  :expr
  {:Coverage
   {:knife [["identifier"]],
    :jsonpath ["$.\"identifier\"[*]"],
    :data-types #{{:type "Identifier", :polymorphic? false}},
    :template :token}}}}